# Ignore certain files and directories
node_modules/
build/
dist/
test/
docs/

# Exclude development-related files
*.log
*.bak
*.tmp
*.bak
*.swp
*.DS_Store

# Exclude configuration files
.editorconfig
.eslintrc
.prettierignore
.prettierrc
tsconfig.json
